// -----------------------------------------------------------------------------
// Footer of the site/application
// -----------------------------------------------------------------------------
.footer {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
