// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------
html, html[data-theme="default"], html[data-theme="light"] {
  --primary-color: #{$primary};
  --primary-color-rgb: #{toRGB($primary, true)};
  --secondary-color: #{$secondary};
  --secondary-color-rgb: #{toRGB($secondary, true)};
  --bg-color: #{$body-bg};
  --bg-color-rgb: #{toRGB($body-bg, true)};
  --text-color: #{a11y-color($text-color, $body-bg,'AAA')};
  --text-color-rgb: #{toRGB(a11y-color($text-color, $body-bg,'AAA'), true)};
  --text-color-contrast: #{$text-color-contrast};
  --text-color-contrast-rgb: #{toRGB($text-color-contrast, true)};

  body {
    color: var(--text-color);
    background: var(--bg-color);
  }
}
