// -----------------------------------------------------------------------------
// Variables
// -----------------------------------------------------------------------------

// Colors
//
$blue: material-color('blue', '500');
$indigo: material-color('deep-purple', 'a400');
$purple: material-color('purple', 'a400');
$pink: material-color('pink', 'a400');
$red: material-color('red', 'a400');
$orange: material-color('orange', 'a400');
$yellow: material-color('yellow', 'a400');
$green: material-color('green', 'a400');
$teal: material-color('teal', 'a400');
$cyan: material-color('cyan', 'a400');
$gray: material-color('grey', '600');
$gray-dark: material-color('grey', '800');

$primary: material-color('orange', 'a200') !default;
$secondary: material-color('blue', 'a400') !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: material-color('grey', '50') !default;
$dark: material-color('grey', '900') !default;

$text-color: material-color('grey', '800');
$text-color-contrast: material-color('grey', '50');

// Typography
//
$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: $font-family-sans-serif;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$font-weight-bolder: 900;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;

$headings-font-weight: $font-weight-bolder;
